# Prep Environment

In [11]:
import os

import pandas as pd
import numpy as np
import yfinance as yf
from datetime import date
from tqdm import tqdm

from statsmodels.tsa.stattools import acf
import statsmodels.api as sm

# Prep Utilities

In [ ]:
def calc_autocorr(series, lag=1):
    """Compute lag-1 autocorrelation"""
    return series.autocorr(lag=lag)

def calc_half_life(series):
    """Estimate mean reversion half-life from AR(1) process"""
    series = series.dropna()
    lagged = series.shift(1).dropna()
    delta = series.diff().dropna()

    # Align
    lagged = lagged.loc[delta.index]
    delta = delta.loc[lagged.index]

    # Regress delta ~ lagged
    model = sm.OLS(delta, sm.add_constant(lagged)).fit()
    beta = model.params[1]

    if beta >= 0:
        halflife = -np.log(2) / np.log(1 + beta) if beta < 1 else np.inf
    else:
        halflife = np.nan  # unstable
    return halflife

def calc_hurst(series):
    """Estimate Hurst exponent using R/S method"""
    series = series.dropna()
    N = len(series)
    if N < 100:
        return np.nan
    
    lags = range(2, min(100, N // 2))
    tau = [np.std(series[lag:] - series[:-lag]) for lag in lags]
    if np.any(np.array(tau) <= 0):
        return np.nan
    
    poly = np.polyfit(np.log(lags), np.log(tau), 1)
    hurst = poly[0] * 2.0
    return hurst

def rolling_metrics(data, window_autocorr=120, window_halflife=252, window_hurst=500):
    df = data.copy()

    df["Autocorr"] = df["Return"].rolling(window_autocorr).apply(calc_autocorr, raw=False)
    df["HalfLife"] = df["Return"].rolling(window_halflife).apply(calc_half_life, raw=False)
    df["Hurst"] = df["Return"].rolling(window_hurst).apply(calc_hurst, raw=False)

    return df

# Ingest Data

In [5]:
asset_list_df = pd.read_csv("../config/50 Biggest Market Capitalization - Aug 2025.csv")
asset_list_df

,Code,Listed Stocks,Number of Listed Shares,Market Capitalization IDR,Market Capitalization %
0,BREN,PT Barito Renewables Energy Tbk.,"133,786,220,000","1,207,420,636",8.51
1,BBCA,Bank Central Asia Tbk.,"122,042,299,500","985,491,568",6.95
2,DCII,DCI Indonesia Tbk,"2,383,745,900","811,605,885",5.72
3,DSSA,Dian Swastatika Sentosa Tbk,"7,705,523,200","764,387,901",5.39
4,TPIA,PT Chandra Asri Pacific Tbk,"86,511,545,092","713,720,247",5.03
5,BBRI,PT Bank Rakyat Indonesia (Persero) Tbk,"150,043,411,587","607,675,817",4.28
6,BYAN,Bayan Resources Tbk,"33,333,335,000","605,000,030",4.27
7,AMMN,PT Amman Mineral Internasional Tbk.,"72,518,217,656","569,268,009",4.01
8,BMRI,Bank Mandiri (Persero) Tbk.,"92,399,999,996","437,052,000",3.08
9,TLKM,Telkom Indonesia (Persero) Tbk.,"99,062,216,600","310,064,738",2.19
10,PANI,Pantai Indah Kapuk Dua Tbk,"16,883,595,500","256,630,652",1.81
11,ASII,Astra International Tbk,"40,483,553,140","222,659,542",1.57
12,BRPT,Barito Pacific Tbk,"93,747,218,044","205,306,408",1.45
13,CDIA,PT Chandra Daya Investasi Tbk,"124,829,374,700","184,747,475",1.30
14,CUAN,PT Petrindo Jaya Kreasi Tbk,"112,418,900,000","175,373,484",1.24
15,BBNI,PT Bank Negara Indonesia (Persero) Tbk,"36,924,339,786","161,728,608",1.14
16,MLPT,Multipolar Technology Tbk,"1,875,000,000","149,062,500",1.05
17,DNET,PT Indoritel Makmur Internasional Tbk.,"14,184,000,000","138,648,600",0.98
18,BRIS,PT Bank BRIsyariah Tbk,"45,667,877,639","123,759,948",0.87
19,BNLI,Bank Permata Tbk,"35,819,545,925","113,547,961",0.80
20,ICBP,Indofood CBP Sukses Makmur Tbk,"11,661,908,000","104,665,624",0.74
21,SMMA,Sinarmas Multiartha Tbk,"6,367,664,717","99,972,336",0.70
22,SRAJ,Sejahteraraya Anugrahjaya Tbk,"12,238,959,990","92,098,174",0.65
23,AMRT,Sumber Alfaria Trijaya Tbk.,"41,524,501,700","91,353,904",0.64
24,UNTR,United Tractors Tbk,"3,730,135,136","91,015,297",0.64
25,EMTK,Elang Mahkota Teknologi Tbk,"61,391,751,483","74,590,978",0.53
26,ANTM,Aneka Tambang Tbk.,"24,030,764,725","73,053,525",0.52
27,CPIN,Charoen Pokphand Indonesia Tbk,"16,398,000,000","70,019,460",0.49
28,BRMS,Bumi Resources Minerals Tbk,"141,784,040,338","66,638,499",0.47
29,GOTO,GoTo Gojek Tokopedia Tbk.,"1,140,573,267,220","66,153,249",0.47
30,INDF,Indofood Sukses Makmur Tbk,"8,780,426,500","65,414,177",0.46
31,ISAT,PT Indosat Tbk,"32,250,810,957","65,146,638",0.46
32,NCKL,PT Trimegah Bangun Persada Tbk.,"63,098,600,000","64,991,558",0.46
33,UNVR,Unilever Indonesia Tbk.,"38,150,000,000","64,855,000",0.46
34,IMPC,Impack Pratama Industri Tbk,"54,268,500,000","64,850,858",0.46
35,CASA,Capital Financial Indonesia Tbk,"54,476,269,803","61,830,566",0.44
36,HMSP,HM Sampoerna Tbk,"116,318,076,900","61,066,990",0.43
37,PGEO,PT Pertamina Geothermal Energy Tbk,"41,763,262,655","60,974,363",0.43
38,MDKA,Merdeka Copper Gold Tbk.,"24,472,983,771","60,448,270",0.43
39,MASA,Multistrada Arah Sarana Tbk,"9,182,946,945","56,934,271",0.40
40,KLBF,Kalbe Farma Tbk,"46,813,391,540","56,878,271",0.40
41,GEMS,Golden Energy Mines Tbk,"5,882,353,000","54,411,765",0.38
42,AADI,PT Adaro Andalan Indonesia Tbk,"7,786,891,760","53,729,553",0.38
43,ADRO,Alamtri Resources Indonesia Tbk,"29,389,689,400","51,578,905",0.36
44,EXCL,PT XL Axiata Tbk,"18,199,862,451","50,049,622",0.35
45,SUPR,Solusi Tunas Pratama Tbk,"1,137,579,698","49,882,870",0.35
46,BELI,PT Global Digital Niaga Tbk,"133,863,950,989","49,261,934",0.35
47,MTEL,Dayamitra Telekomunikasi Tbk,"83,559,636,344","48,882,387",0.34
48,MYOR,Mayora Indah Tbk,"22,358,699,725","46,953,269",0.33
49,MBMA,PT Merdeka Battery Materials Tbk,"107,995,419,900","46,006,049",0.32

In [13]:
today = date.today()
target_date = date(2022, 1, 1)
# target_date = date(2025, 8, 15)
time_difference = today - target_date
number_of_days = time_difference.days
market_code = (asset_list_df['Code'] + ".JK").tolist()
all_data = []

file_path = "../data/yfinance_idx_ticker_data.csv"

if os.path.isfile(file_path):
    print("File Already Exists")
    raw_df = pd.read_csv(file_path)    
else:
    print("File Doesn't Exists, Downloading...")
    all_data = []
    for ticker in tqdm(market_code, desc="Fetching OHLCV"):
        try:
            df = yf.download(
                ticker,
                period=str(number_of_days) + "d",
                progress=False,
                threads=False,
                auto_adjust=False,
            )
            if df.empty:
                raise ValueError("No data returned")
                
            df = df.reset_index()
            df.columns = df.columns.droplevel(level=1)
            df["Ticker"] = ticker
            all_data.append(df)
        except Exception as e:
            print("Ticker", ticker, "Error:", e)
            pass
    
    raw_df = pd.concat(all_data, axis=0).reset_index(drop=True)
    raw_df.to_csv(file_path, index=False)

raw_df

File Already Exists

,Date,Adj Close,Close,High,Low,Open,Volume,Ticker
0,2023-10-09,973.590942,975.0,975.0,975.0,975.0,22298500,BREN.JK
1,2023-10-10,1213.244019,1215.0,1215.0,1060.0,1060.0,13625200,BREN.JK
2,2023-10-11,1512.810425,1515.0,1515.0,1515.0,1515.0,38431400,BREN.JK
3,2023-10-12,1887.268555,1890.0,1890.0,1820.0,1890.0,219262300,BREN.JK
4,2023-10-13,2356.589111,2360.0,2360.0,2240.0,2360.0,39504100,BREN.JK
...,...,...,...,...,...,...,...,...
58724,2025-09-16,474.000000,474.0,490.0,472.0,488.0,262315700,MBMA.JK
58725,2025-09-17,480.000000,480.0,484.0,464.0,474.0,247355800,MBMA.JK
58726,2025-09-18,470.000000,470.0,484.0,466.0,484.0,199379800,MBMA.JK
58727,2025-09-19,470.000000,470.0,490.0,468.0,470.0,250337700,MBMA.JK
58728,2025-09-22,510.000000,510.0,510.0,476.0,476.0,556976700,MBMA.JK

# Data Preprocess

In [ ]:
base_df = raw_df.copy()